/* =========================== */
/* Globe font stack examples
/* =========================== */


/* Serif headline */
/* font-family: 'Miller', Helvetica, Times New Roman, Times, serif;* / 

/* Sans-serif headline */
/* font-family: 'Benton', Helvetica, Arial, sans-serif; */

/* Serif body */
/* font-family: 'Georgia', Times New Roman, Times, serif; */

/* Sans-serif body */
/* font-family: 'Helvetica', Arial, sans-serif; */

/* =========================== */
/* Graphic styles
/* =========================== */

.leaflet-container .leaflet-control-attribution
	display none

#map 
	width 100%
	min-height 320px
	display block
	border 1px solid #ccc


.leaflet-marker-icon.snowfall
	text-align center

	span.wrapper
		font-family 'Benton', Helvetica, Arial, sans-serif;
		font-weight bold
		color black
		text-shadow white 0 0 5px
		position relative
		top -0.8em
		font-size 1.2em
		
		&._zoom7
			font-size 1.3em
			
		&._zoom8
			font-size 1.4em
			
		&._zoom9
			font-size 1.5em
			
		&._zoom10
			font-size 1.6em